<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsm.dao.UserDao">
    <select id="selectUser" parameterType="Integer" resultType="User">
        select t.id, name, age, info, create_date
        from test t
        where t.id = #{id}
    </select>
</mapper>